.newPost{
    width: 100%;
}
.singlePost{
    /*background-color: aquamarine;*/
    border: 1px dotted black;
    margin: 2vh;
}

.postDetails{
    font-size: calc(8px + 1vmin);
    font-style: italic;
}